// SIZES
$border-radius: 4px;
$border-radius-large: 10px;
$button-padding: 1rem 7rem;
$header-margin: 8.5rem;
$full-height-with-header: calc(100vh - 8.5rem);
$container-max-width: 1500px;
$hover-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
$main-nav-height: 7.6rem;
$side-bar-width: 100%;
// FONT
$default-font-size: 1.6rem;
$font-default-mobile: 1.8rem;

// COLORS
$color-font-dark: #333;

$color-legacy-primary: #005aa1;
$color-legacy-accent: #656f7d;

$color-alliance-primary: #3d68b2;
$color-alliance-accent: #febf10;

$color-ufr-primary: #318cdd;
$color-ufr-accent: #6e7a7b;

$color-emerald-light: #a3e4d7;
$color-emerald-primary: #1abc9c;
$color-emerald-dark: #148d75;

$color-yellow-light: #ffeb99;
$color-yellow-primary: #ffcc00;
$color-yellow-dark: #f39c12;

$color-green-light: #abebc6;
$color-green-primary: #2ecc71;
$color-green-dark: #239955;

$color-orange-light: #f5cba7;
$color-orange-primary: #e67e22;
$color-orange-dark: #d35400;

$color-blue-light: #aed6f1;
$color-blue-primary: #3498db;
$color-blue-dark: #2772a4;

$color-red-light: #f5b7b1;
$color-red-primary: #e74c3c;
$color-red-dark: #ad392d;

$color-purple-light: #d7bde2;
$color-purple-primary: #9b59b6;
$color-purple-dark: #744389;

$color-pink-light: #f5c3d6;
$color-pink-primary: #e56a9a;
$color-pink-dark: #ac4f73;

$color-white: #fff;
$color-black: #000;

$color-gray-lightest: #fafafa;
$color-gray-lightest-2: #f2f2f2;
$color-gray-lighter: #d6dbdf;
$color-gray-light: #aeb6bf;
$color-gray-dark: #5d6d7e;
$color-gray-darker: #34495e;
$color-gray-darkest: #273747;
